@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color:#FFB6C1 ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color:#CBC3E3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #90EE90;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
