<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>sessional1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>solution1</display-name>
    <servlet-name>solution1</servlet-name>
    <servlet-class>solution1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>solution1</servlet-name>
    <url-pattern>/solution1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>solution12</display-name>
    <servlet-name>solution12</servlet-name>
    <servlet-class>solution12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>solution12</servlet-name>
    <url-pattern>/solution12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>solution13</display-name>
    <servlet-name>solution13</servlet-name>
    <servlet-class>solution13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>solution13</servlet-name>
    <url-pattern>/solution13</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>solution4</display-name>
    <servlet-name>solution4</servlet-name>
    <servlet-class>solution4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>solution4</servlet-name>
    <url-pattern>/solution4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sol4</display-name>
    <servlet-name>sol4</servlet-name>
    <servlet-class>sol4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sol4</servlet-name>
    <url-pattern>/sol4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sol3</display-name>
    <servlet-name>sol3</servlet-name>
    <servlet-class>sol3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sol3</servlet-name>
    <url-pattern>/sol3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>solution2</display-name>
    <servlet-name>solution2</servlet-name>
    <servlet-class>solution2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>solution2</servlet-name>
    <url-pattern>/solution2</url-pattern>
  </servlet-mapping>
</web-app>